@import url('https://fonts.googleapis.com/css2?family=Hubballi&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-inter;
        @apply font-hubballi;
        @apply font-montserrat;
    }
}

/* html,
body,
#root {
    height: 100vh;
    margin: 0;
    padding: 0;
    background: transparent;
}

body {
    overflow: hidden;
} */
